<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<string>1</string>
		<key>face_image_name</key>
		<string>😀</string>
		<key>face_name</key>
		<string>😀</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>2</string>
		<key>face_image_name</key>
		<string>🤑</string>
		<key>face_name</key>
		<string>🤑</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>4</string>
		<key>face_image_name</key>
		<string>😰</string>
		<key>face_name</key>
		<string>😰</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>7</string>
		<key>face_image_name</key>
		<string>🤣</string>
		<key>face_name</key>
		<string>🤣</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>10</string>
		<key>face_image_name</key>
		<string>😱</string>
		<key>face_name</key>
		<string>😱</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>11</string>
		<key>face_image_name</key>
		<string>😄</string>
		<key>face_name</key>
		<string>😄</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>14</string>
		<key>face_image_name</key>
		<string>😅</string>
		<key>face_name</key>
		<string>😅</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>19</string>
		<key>face_image_name</key>
		<string>😆</string>
		<key>face_name</key>
		<string>😆</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>20</string>
		<key>face_image_name</key>
		<string>😉</string>
		<key>face_name</key>
		<string>😉</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>21</string>
		<key>face_image_name</key>
		<string>😊</string>
		<key>face_name</key>
		<string>😊</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>23</string>
		<key>face_image_name</key>
		<string>😋</string>
		<key>face_name</key>
		<string>😋</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>25</string>
		<key>face_image_name</key>
		<string>😎</string>
		<key>face_name</key>
		<string>😎</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>27</string>
		<key>face_image_name</key>
		<string>😍</string>
		<key>face_name</key>
		<string>😍</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>32</string>
		<key>face_image_name</key>
		<string>😘</string>
		<key>face_name</key>
		<string>😘</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>34</string>
		<key>face_image_name</key>
		<string>😗</string>
		<key>face_name</key>
		<string>😗</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>35</string>
		<key>face_image_name</key>
		<string>😙</string>
		<key>face_name</key>
		<string>😙</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>36</string>
		<key>face_image_name</key>
		<string>😚</string>
		<key>face_name</key>
		<string>😚</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>37</string>
		<key>face_image_name</key>
		<string>☺️</string>
		<key>face_name</key>
		<string>☺️</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>40</string>
		<key>face_image_name</key>
		<string>🙂</string>
		<key>face_name</key>
		<string>🙂</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>41</string>
		<key>face_image_name</key>
		<string>🤗</string>
		<key>face_name</key>
		<string>🤗</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>43</string>
		<key>face_image_name</key>
		<string>😭</string>
		<key>face_name</key>
		<string>😭</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>87</string>
		<key>face_image_name</key>
		<string>🤔</string>
		<key>face_name</key>
		<string>🤔</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>45</string>
		<key>face_image_name</key>
		<string>🤢</string>
		<key>face_name</key>
		<string>🤢</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>46</string>
		<key>face_image_name</key>
		<string>😐</string>
		<key>face_name</key>
		<string>😐</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>47</string>
		<key>face_image_name</key>
		<string>😶</string>
		<key>face_name</key>
		<string>😶</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>49</string>
		<key>face_image_name</key>
		<string>🙄</string>
		<key>face_name</key>
		<string>🙄</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>50</string>
		<key>face_image_name</key>
		<string>😏</string>
		<key>face_name</key>
		<string>😏</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>52</string>
		<key>face_image_name</key>
		<string>😣</string>
		<key>face_name</key>
		<string>😣</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>105</string>
		<key>face_image_name</key>
		<string>😥</string>
		<key>face_name</key>
		<string>😥</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>81</string>
		<key>face_image_name</key>
		<string>😮</string>
		<key>face_name</key>
		<string>😮</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>82</string>
		<key>face_image_name</key>
		<string>🤐</string>
		<key>face_name</key>
		<string>🤐</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>84</string>
		<key>face_image_name</key>
		<string>😯</string>
		<key>face_name</key>
		<string>😯</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>85</string>
		<key>face_image_name</key>
		<string>😪</string>
		<key>face_name</key>
		<string>😪</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>86</string>
		<key>face_image_name</key>
		<string>😫</string>
		<key>face_name</key>
		<string>😫</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>89</string>
		<key>face_image_name</key>
		<string>😴</string>
		<key>face_name</key>
		<string>😴</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>90</string>
		<key>face_image_name</key>
		<string>😌</string>
		<key>face_name</key>
		<string>😌</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>8</string>
		<key>face_image_name</key>
		<string>😛</string>
		<key>face_name</key>
		<string>😛</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>29</string>
		<key>face_image_name</key>
		<string>😜</string>
		<key>face_name</key>
		<string>😜</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>30</string>
		<key>face_image_name</key>
		<string>😝</string>
		<key>face_name</key>
		<string>😝</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>71</string>
		<key>face_image_name</key>
		<string>🤤</string>
		<key>face_name</key>
		<string>🤤</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>73</string>
		<key>face_image_name</key>
		<string>😒</string>
		<key>face_name</key>
		<string>😒</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
