<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>envs</key>
	<dict>
		<key>dev</key>
		<dict>
			<key>kChatDisableTLS</key>
			<false/>
			<key>platform</key>
			<string>osx</string>
			<key>brand</key>
			<string>Apple</string>
			<key>kCountlyEventSendThreshold</key>
			<integer>1</integer>
			<key>kWatchCoreIsUtMode</key>
			<false/>
			<key>kWatchCoreIsLogfile</key>
			<true/>
			<key>webAPI</key>
			<string>https://api-dev.windimg.com</string>
			<key>gRPCHost</key>
			<string>grpc-dev.windimg.com:50052</string>
		</dict>
		<key>test</key>
		<dict>
			<key>kChatDisableTLS</key>
			<false/>
			<key>platform</key>
			<string>osx</string>
			<key>brand</key>
			<string>Apple</string>
			<key>kCountlyEventSendThreshold</key>
			<integer>1</integer>
			<key>kWatchCoreIsUtMode</key>
			<false/>
			<key>kWatchCoreIsLogfile</key>
			<true/>
			<key>webAPI</key>
			<string>https://api-test.windimg.com</string>
			<key>gRPCHost</key>
			<string>grpc-test.windimg.com:50052</string>
		</dict>
		<key>pre</key>
		<dict>
			<key>kChatDisableTLS</key>
			<false/>
			<key>platform</key>
			<string>osx</string>
			<key>brand</key>
			<string>Apple</string>
			<key>kCountlyEventSendThreshold</key>
			<integer>1</integer>
			<key>kWatchCoreIsUtMode</key>
			<false/>
			<key>kWatchCoreIsLogfile</key>
			<true/>
			<key>webAPI</key>
			<string>https://api-pre.windimg.com</string>
			<key>gRPCHost</key>
			<string>grpc-pre.windimg.com:50052</string>
		</dict>
		<key>tw</key>
		<dict>
			<key>kChatDisableTLS</key>
			<false/>
			<key>platform</key>
			<string>osx</string>
			<key>brand</key>
			<string>Apple</string>
			<key>kCountlyEventSendThreshold</key>
			<integer>1</integer>
			<key>kWatchCoreIsUtMode</key>
			<false/>
			<key>kWatchCoreIsLogfile</key>
			<true/>
			<key>webAPI</key>
			<string>https://api-dev.windimg.com</string>
			<key>gRPCHost</key>
			<string>cmac.tnuni.com:443</string>
		</dict>
	</dict>
</dict>
</plist>
